<div>
  <a mat-button routerLink="/meals">Back to Meals</a>
  <mat-card *ngIf="meal$ | async as meal" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{meal.name}}</mat-card-title>
      <mat-card-subtitle>Meal</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="meal?.imageUrl" [alt]="'Photo of ' + meal.name">
    <mat-card-content>
      <h3>Ingredients</h3>
      <ul *ngIf="meal.ingredients?.length">
        <li *ngFor="let ingredient of meal.ingredients">
          {{ingredient.text}}: {{ingredient.quantity}}
        </li>
      </ul>
      <p>
        {{meal.recipe}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" mat-button>EDIT</button>
    </mat-card-actions>
  </mat-card>
</div>